body {
  background-color: white;
  color: black;
  font: 12pt "Times New Roman", Times, TimesNR, serif;
}
nav, #studentInfo {
  display: none;
}
a {
  color: black
}
p a:before, li a:before {
  content: "(link): ";
}